@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos Globales*/
html {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 160px;
  line-height: 1.6;
  color: #343a40;
  background-color: #FAF3E3;
}

h1, h2, h3, h4, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1A4D2E;
}

h1 h5, h2 h5, h3 h5, h4 h5, h6 h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

a {
  color: #FF9F29;
}
a:hover {
  color: #FF9F29;
}

/* Estilos para el icono de WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 320px; /* Ajusta la posición vertical según sea necesario */
  right: 20px; /* Ajusta la posición horizontal según sea necesario */
  z-index: 1000; /* Asegura que esté por encima del resto del contenido */
}

.whatsapp-icon img {
  width: 50px; /* Ajusta el tamaño del ícono según sea necesario */
  height: auto;
}

/* Estilos para ocultar el icono al hacer scroll hacia arriba */
body {
  padding-bottom: 70px; /* Ajusta según la altura del icono */
}

.whatsapp-icon.hidden {
  display: none;
}

.breadcrumb-nav {
  margin-top: 20px;
}
.breadcrumb-nav .breadcrumb {
  background-color: #FAF3E3;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  list-style: none;
  overflow: hidden;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item:not(:last-child) {
  margin-right: 5px;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item.active {
  color: #333;
  font-weight: bold;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item a:hover {
  color: #0056b3;
}
.breadcrumb-nav .breadcrumb .breadcrumb-item a i {
  margin-right: 3px;
}

header img.logo {
  height: 120px;
  border: 3px solid;
  border-radius: 50%;
  margin: 5px 20px;
  background: linear-gradient(to bottom, #FF9F29, #FF4C29);
  opacity: 0;
  transition: opacity 0.5s ease;
}
header img.logo:hover {
  filter: brightness(80%);
}

header {
  background-color: #FF9F29;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 150px;
}
header.fade-in img.logo {
  opacity: 1;
}
header .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: white;
  background-color: #FF7F00;
}
header .navbar-collapse {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 150px;
  left: 0;
  z-index: 999;
  transition: top 0.3s ease;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 768px) {
  header .navbar-collapse {
    position: static;
    background-color: transparent;
    width: auto;
    top: auto;
    left: auto;
    z-index: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
}
header .navbar-collapse.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
header .navbar-toggler {
  border-color: #1A4D2E;
}
header .navbar-toggler .navbar-toggler-icon {
  background-color: gray;
  border-radius: 5px;
}

main {
  margin-top: 150px;
}

/*Main Index*/
.jumbotron {
  background-image: url("./../img/img-bsas.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 250px 0;
  position: relative;
}
.jumbotron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.jumbotron .container {
  position: relative;
}
.jumbotron .container h1 {
  font-size: 4em;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
  color: #F7F6BB;
  text-decoration: underline;
}
.jumbotron .container p {
  font-size: 1.8em;
  opacity: 0.9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h2 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: #FF9F29;
}

.service {
  flex: 0 0 calc(33.33% - 20px); /* Establece el ancho deseado para cada elemento */
  margin: 10px; /* Agrega un margen entre los elementos */
  display: flex; /* Utiliza flexbox para alinear verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
  justify-content: center; /* Alinea los elementos en el centro horizontal */
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Alinea los elementos en el centro horizontal */
  text-align: center; /* Alinea el texto en el centro */
}
.service img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.service h3 {
  font-size: 1.7em;
}
.service p {
  font-size: 1.1em;
}
.service img {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 200px;
  border-radius: 20%;
  margin-bottom: 20px;
}

/*Main Equipo*/
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-radius: 10px;
}
.card-title {
  color: #1A4D2E;
  font-weight: bold;
}
.card-text {
  color: #6c757d;
}

/*Main Servicios*/
.carousel-item img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

/*Main Contacto*/
.btn-primary {
  background-color: #1A4D2E;
  border-color: #1A4D2E;
}
.btn-primary:hover {
  background-color: #1A4D2E;
  border-color: #1A4D2E;
}

.form-control {
  border: 1px solid #ced4da;
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Footer */
footer {
  background-color: #FF9F29;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
  font-size: 16px;
}
footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-info {
  width: 45%;
  text-align: right;
}
footer .footer-info .footer-info-item {
  margin-bottom: 10px;
}
footer .footer-icons {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
footer .footer-icons .footer-icon {
  margin-right: 10px;
}
footer .footer-icons .footer-icon a {
  color: #fff;
  text-decoration: none;
}
footer .footer-icons .footer-icon i {
  font-size: 24px;
}
footer .footer-icons .footer-icon:last-child {
  margin-right: 0;
}
footer i {
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
