$header-bg-color: #FF9F29;
$primary-color: #1A4D2E;
$link-color: #FF9F29;
$jumbotron-bg: url("/img/fondo-atardecer.jpg");

header {
    background-color: $header-bg-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    img {
        height: 100px;
        border: 3px solid;
        border-radius: 50%;
        margin: 10px 20px;
    }
}

.navbar-nav {
    display: flex;
    justify-content: space-between; // Alinea los elementos uniformemente
    align-items: center; // Alinea verticalmente en el centro

.nav-item {
    margin-right: 0; // Elimina el margen derecho individual
    
    .nav-link {
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 20px;
        border-radius: 20px;
        transition: all 0.3s ease;

    &:hover {
        background-color: $header-bg-color;
            }
        }
    }
}

.navbar-toggler {
    border-color: $primary-color;
    
    & .navbar-toggler-icon {
        background-color: gray;
        border-radius: 5px;
    }
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 160px;
    line-height: 1.6;
    color: #343a40;
    background-color: #FAF3E3;
}

h1, h2, h3, h4, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: $primary-color;
    
    h5 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: white;
    }
}

a {
    color: $link-color;
    
    &:hover {
        color: $link-color;
    }
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    &-img-top {
        border-radius: 10px;
    }
    
    &-title {
        color: $primary-color;
        font-weight: bold;
    }
    
    &-text {
        color: #6c757d;
    }
}

.jumbotron {
    background-image: $jumbotron-bg;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    & .container {
        position: relative;
    
    h1 {
        font-size: 4em;
        margin-bottom: 30px;
        font-weight: bold;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
        color: #F7F6BB;
        text-decoration: underline;
    }
    
    p {
        font-size: 1.8em;
        opacity: 0.9;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }
    }
}

h2 {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: $link-color;
}

.service {
  flex: 0 0 calc(33.33% - 20px); // Establece el ancho deseado para cada elemento
  margin: 10px; // Agrega un margen entre los elementos
  display: flex; // Utiliza flexbox para alinear verticalmente
  flex-wrap: wrap; // Permite que los elementos se envuelvan en filas
  justify-content: center; // Alinea los elementos en el centro horizontal
  flex-direction: column; // Apila los elementos verticalmente
  align-items: center; // Alinea los elementos en el centro horizontal
  text-align: center; // Alinea el texto en el centro

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 1.7em;
    }
    
    p {
        font-size: 1.1em;
    }
    }

    .carousel-item img {
    height: auto;
    max-width: 100%;
    }

    .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    }

    .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
    }
    }

    .form-control {
    border: 1px solid #ced4da;
    
    &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    }

    footer {
    background-color: $header-bg-color;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
    
    & .footer-icons i {
        color: white;
        margin-right: 10px;
    }
    }
