// Mixins
@mixin button-styles {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background-color: #FF7F00;
    }
}

// Extend
%logo-styles {
    height: 120px;
    border: 3px solid;
    border-radius: 50%;
    margin: 5px 20px;
    background: linear-gradient(to bottom, #FF9F29, #FF4C29);
    opacity: 0;
    transition: opacity 0.5s ease;

    &:hover {
        filter: brightness(80%);
    }
}

// Aquí comienza el uso del mixin button-styles
header {
    background-color: #FF9F29;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 150px;

    img.logo {
        @extend %logo-styles;
    }

    &.fade-in img.logo {
        opacity: 1;
    }

    .navbar-nav .nav-item .nav-link {
        @include button-styles; // Uso del mixin aquí
    }

    // Ajuste para el menú desplegable en dispositivos móviles
    .navbar-collapse {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        top: 150px;
        left: 0;
        z-index: 999;
        transition: top 0.3s ease;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;

        @media (min-width: 768px) {
            position: static;
            background-color: transparent;
            width: auto;
            top: auto;
            left: auto;
            z-index: auto;
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .navbar-collapse.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }

    .navbar-toggler {
        border-color: #1A4D2E;
    }
    .navbar-toggler .navbar-toggler-icon {
        background-color: gray;
        border-radius: 5px;
    }
}

// Ajusta el margen superior del contenido principal para que no esté cubierto por el encabezado
main {
    margin-top: 150px;
}


